* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body{
    min-width: 100%;
    min-height: 100%;
    background-color: white;
  }
  body,html{
    overflow-x: hidden;
  }

  html,body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width:100%;
}
/* Remove unwanted background */
body {
  background: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Gradient Background for Full App */
.gradient-background {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}